@model IEnumerable<ChamadosCRUD.Models.ViewModels.UserViewModel>
@using System.Security.Claims
@{
    ViewData["title"] = "Usuários";
}

@{
    var userRoleId = Convert.ToInt32(User.FindFirstValue(ClaimTypes.Role));
 
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="row">
    <h2>Usuários</h2>
</div>
<div class="row">
    <div class="col-2">
        @if (userRoleId <= 2)
        {
            <a class="btn btn-primary btn-sm" role="button" asp-area="" asp-controller="User" asp-action="Create"><i class="bi bi-plus-circle"></i> Adicionar</a>
        }
    </div>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(Model => Model.Id)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(Model => Model.Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(Model => Model.Email)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(Model => Model.RoleName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="row">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td scope="row">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td scope="row">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td scope="row">
                            @Html.DisplayFor(modelItem => item.RoleName)
                        </td>
                        <td>

                            @if (userRoleId > 2 || Convert.ToInt32(userId) == item.Id)
                            {
                                
                                <button type="button" class="btn btn-outline-danger btn-sm delete-btn" style="color:gray;border-color:gray;" disabled>
                                    <i class="bi bi-trash"></i>
                                </button>


                                <button type="submit" class="btn btn-outline-warning btn-sm" style="color:gray;border-color:gray;" disabled>
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                
                            }
                            else
                            {
                                <form method="post" asp-area="" asp-controller="User" asp-action="Delete" asp-route-id="@item.Id">
                                    <button type="button" class="btn btn-outline-danger btn-sm delete-btn">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                                <form method="post" asp-area="" asp-controller="User" asp-action="Edit" asp-route-id="@item.Id">
                                    <button type="submit" class="btn btn-outline-warning btn-sm">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                </form>
                            }

                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center"><h3>Não há dados cadastrados.</h3></td>
                </tr>
            }

        </tbody>
    </table>
    @section Scripts{
        <script>
       
            $(document).on('click', '.delete-btn', function (e) {
                e.preventDefault();
                var form = $(this).closest('form'); 

                Swal.fire({
                title: 'Tem certeza?',
                text: 'Essa ação não poderá ser desfeita!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sim, excluir!',
                cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        form.submit();
                    }
                });
            });

        </script>

        
        


        @if (TempData["Success"] != null)
        {
            <script>
                    Swal.fire({
                    title: 'Sucesso!',
                    text: '@TempData["Success"]',
                    icon: 'success',
                    confirmButtonText: 'Ok'
                })
            </script>
        }

        @if (TempData["DeletedSuccess"] != null)
        {
            <script>
                    Swal.fire({
                    title: 'Sucesso!',
                    text: '@TempData["DeletedSuccess"]',
                    icon: 'success',
                    confirmButtonText: 'Ok'
                })
            </script>
        }

        @if (TempData["Unauthorized"] != null)
        {
            <script>
                    Swal.fire({
                    title: 'Erro!',
                    text: '@TempData["Unauthorized"]',
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
            </script>
        }
    }
</div>
