@model IEnumerable<ChamadosCRUD.Models.Ticket>
@{
    ViewData["Title"] = "Tickets";
}

<div class="row">
    <h2>Chamados</h2>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>@Html.DisplayNameFor(model => model.AssignedTo)</th>
                <th>@Html.DisplayNameFor(model => model.RequesterName)</th>
                <th>@Html.DisplayNameFor(model => model.RequesterEmail)</th>
                <th>@Html.DisplayNameFor(model => model.Location)</th>
                <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
                <th>@Html.DisplayNameFor(model => model.UpdatedAt)</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Status.Name</td>
                        <td>@item.Title</td>
                        <td>@(item.AssignedTo?.Name ?? "--")</td>
                        <td>@item.RequesterName</td>
                        <td>@item.RequesterEmail</td>
                        <td>@item.Location.Name</td>
                        <td>@item.CreatedAt</td>
                        <td>@item.UpdatedAt</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9" class="text-center"><h3>Não há dados cadastrados.</h3></td>
                </tr>
            }
            
            
        </tbody>
    </table>
</div>
